.btn{
    background-color: cadetblue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.btnEdit{
    background-color: dodgerblue;
}
.btnViewOrders{
    background-color: grey;
}
.buttonsdiv{
    text-align: center;
}